// 색상 변수 정의
$main-color: #007bff;
$accent-color: #003FAD;
$secondary-color: #D5EFFE;
$likelion-color: #FFA928;

$cancel-color: #F13F6F;
$white-color: #FFFFFF;
$black-color: #000000;

.button {
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.primary {
    background-color: $secondary-color;
    color: $black-color;
    border: $black-color 1px solid;

    &:hover {
        background-color: $main-color;
    }
}

.save {
    background-color: $main-color;
    color: $white-color;
    border: $black-color 1px solid;

    &:hover {
        background-color: $accent-color;
    }
}

.cancel {
    background-color: $cancel-color;
    color: $white-color;
    border: $black-color 1px solid;

    &:hover {
        background-color: $main-color;
        color: $white-color;
    }
}

.button_sm {
    padding: 5px 10px;
    font-size: 1rem;
}

.button_md {
    padding: 10px 20px;
    font-size: 1rem;
}

.button_lg {
    padding: 15px 120px;
    font-size: 1.5rem;
}
.button_long {
    padding: 5px 150px;
    font-size: 1rem;
}

.fullWidth {
    width: 100%;
}